@media (max-width: 750px) {

  // HEADER
  #header {

  &-home,
  &-inner {

    border-bottom: 3px solid $main-color;
    height: 7.5rem !important;
    background-position: 20% 10% !important;

    .header-content {
      display: none;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr;

    .navbar-brand {
      font-size: 1.5rem;
      text-align: center;
      border-bottom: none;
      }

      .nav-content {
        justify-self: center;

        ul {
          background: $dark-color;
          opacity: 0.9;
          font-size: 13px;
        }
      }  
    }
  }
}

// Dictionary

// Accordion

#accordion {
  .card {
    width: 20rem !important;
  }
}
}