// Tablets & Smaller
@media (min-width: 768px) and (max-width: 800px) {
  #header-home {
    flex-direction: column;
    align-items: center;
    height: 30rem;
  }

  #home-a {
    .essentials {
      grid-template-columns: 1fr 1fr;
    }
  }

  #learn-a {
    .video-content {
      display: grid;
      grid-template-columns: 1fr;
    }

    .video-content .video {
      justify-self: center;
    }
  }

  // Stack Grid Columns
  #home-a .essentials {
    grid-template-areas:
      "grammar vocabulary"
      "conversations conversations";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;

    // Grid Areas
    .grammar {
      grid-area: grammar;
    }
    .vocabulary {
      grid-area: vocabulary;
    }
    .conversations {
      grid-area: conversations;
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  // Header
  #header {
    &-home {
      background-position: 20% 5%;
      border-bottom: 3px solid $main-color;
      height: 8rem;

      .header-content {
        display: none;
      }
    }

    &-inner {
      height: 8rem;
      background-position: 20% 5%;
    }
  }

  // Stack Grid Columns
  #home-a .essentials {
    grid-template-columns: 1fr;
  }

  // Learn

  #learn-a {
    .video {
      padding-bottom: 1rem;
    }
    .lead {
      padding-bottom: 0;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "email"
          "skype"
          "level"
          "message";
      }
    }
  }
}
