// Flip cards

// Min-width 300px and max-width 400px
@media (min-width: 300px) and (max-width: 400px) {
  body {
    background-color: $light-color !important;
  }

  .video-container {
    .video {
      iframe {
        width: 70%;
        height: 130px !important;
      }
    }
  }

  .text-torleif {
    padding-top: 0% !important;
  }

  .reviews {
    .row {
      flex-direction: column;
      align-items: center;
      .flip-card {
        padding-top: 10px;
        width: 140px !important;
        height: 140px !important;
        .flip-card-front {
          height: 140px !important;
          img {
            width: 140px !important;
            height: 140px !important;
          }
        }

        .flip-card-back {
          width: 140px !important;
          cursor: unset;
          p {
            text-align: left;
            font-size: 11px !important;
            padding: 3px;
          }
        }
      }
    }
  }
  // Book a lesson
  .columns {
    .flip-card {
      width: 105px !important;
      height: 105px !important;
      .flip-card-front {
        height: 105px !important;
        img {
          width: 105px !important;
          height: 105px !important;
        }
      }

      .flip-card-back {
        width: 105px !important;
        cursor: unset;
        p {
          text-align: left;
          font-size: 5px !important;
          padding: 3px;
        }
      }
    }
  }

  .image-home {
    height: 11rem !important;
  }

  // About
  .secnd-pg {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  body {
    background-color: $light-color !important;
  }

  .text-torleif {
    padding-top: 5% !important;
  }

  .video-container {
    .video {
      iframe {
        width: 70%;
        height: 50% !important;
      }
    }
  }

  .reviews {
    .row {
      flex-direction: column;
      align-items: center;
      .flip-card {
        padding-top: 10px;
        width: 140px !important;
        height: 140px !important;
        .flip-card-front {
          height: 140px !important;
          img {
            width: 140px !important;
            height: 140px !important;
          }
        }

        .flip-card-back {
          width: 140px !important;
          cursor: unset;
          p {
            text-align: left;
            font-size: 11px !important;
            padding: 3px;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  body {
    background-color: $light-color !important;
  }

  .video-container {
    .video {
      iframe {
        width: 70%;
        height: 220px !important;
      }
    }
  }

  .reviews {
    .row {
      flex-direction: column;
      align-items: center;
      .flip-card {
        padding-top: 10px;
        width: 140px !important;
        height: 140px !important;
        .flip-card-front {
          height: 140px !important;
          img {
            width: 140px !important;
            height: 140px !important;
          }
        }

        .flip-card-back {
          width: 140px !important;
          cursor: unset;
          p {
            text-align: left;
            font-size: 11px !important;
            padding: 3px;
          }
        }
      }
    }
  }
}

// Navbar
@media (min-width: 300px) and (max-width: 500px) {
  // Navbar
  .navbar {
    ul {
      li {
        display: none;
      }
      .hamburger {
        display: block !important;
        float: right;
        cursor: pointer;
        margin-right: 30px;
        margin-top: 7px;
        font-size: 30px;
      }
    }
  }
}

// Min-width 300px and max-width 600px
@media (min-width: 300px) and (max-width: 600px) {
  .text-a {
    overflow-x: hidden !important;
  }

  .header-about {
    flex-direction: column;

    .img-div {
      text-align: center;
    }
  }
}

// Min-width 600px
@media (min-width: 600px) {
  .header-about {
    .details {
      display: inline-block !important;
    }

    .first {
      font-weight: bold;
    }

    i {
      color: $main-color;
    }
  }

  // Book a lesson
  .headline {
    p {
      max-width: 600px;
      margin: auto;
    }
  }
}

// Min-width 650px
@media (min-width: 650px) {
  body {
    background-color: $main-color;
  }

  .text-a {
    width: 650px;
    margin: auto !important;
    padding-bottom: 20px;
    background-color: $light-color !important;
    padding-right: 30px;
    padding-left: 30px;
  }

  .navbar {
    width: 100%;
    margin: 0;
  }

  .image-home {
    background: $image-home no-repeat 20% 10% / cover !important;
    height: 90vh !important;
  }
}

// Small bug
@media (min-width: 650px) and (max-width: 700px) {
  .image-home,
  .navbar {
    width: 700px !important;
  }
}

// Padding sides
@media (min-width: 912px) {
  .body-home {
    background-color: $main-color !important;
  }

  .text-a {
    background-color: $light-color !important;
    padding-right: 130px;
    padding-left: 130px;
  }
}

// Buttons reviews
@media (max-width: 650px) {
  .btn-box {
    display: flex !important;
  }
}
