@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$main-color: #dc3545;
$light-color: #f8f8ff;
$dark-color: #242526;
$main-text: 'PT Sans', sans-serif;
$image-home: url('https://lh3.googleusercontent.com/NvLNIE6fCoFuGuVkjOzX_1r9uqWD1YbB-ywRRtwAHCum3MTSZNGKhdh55QFhTzWe3PY9MEemOcAM-pmsClvQzhuJIvHNYbzq2fSKotMrT8l7TY20HasGnNp9ndo741FfSz53tKJ4NHDymDzGYSBV_dANlHDEVGr-GHb6zxlxk2i1-_RSRuIez03O1ZjnemWegCtem60fBk3kBqQOsdQsAvOXi7PtY7uEfB9an1bUUmpk8F9XBYHi_Ucwtv-ShahcmmXGUjkRhuxsHp82WKFkbmucFZDlvUr8QCNPxopijG1zQuz2YBIvfmiuOqvpIqmsyySXYuu9dvo07L_mannvYde_lrRVcNq4alq8CFo3-qTfg0N41AJ2TfykFGXnnjUoap2Rfuo9KLWg0C9f485MI4bH8Mc2BJYODWdmma90PQfL0SMzwg9daFr-prxMyBKPNQsc8GRP_8aXEsYyWxGr5IJUUrqz3EbnW-Xc6xBIqO1RkMk-8sIUFaE3ktoncLlNeieAjYEvWo5Ib4etTeZxIDh07mVrLjLjb7CRH2M4BDA4gfo7XL3tyugh_CYV6vXfQwbwukw2iw4oCeZM05lVlF1Q7p6AcJVIt6vww6v6eKKI4wDFGeeWAZ4vWdIzesmK22cEjAnU7nJwNPIf5zd55uau3yXvj6vSLs_QeXeSbXa-q7YUexB_eKzp1safRn_oTwW8wANCVOP7ucCHonpBa8DB=w1539-h866-no?authuser=1');
$image-about: url('https://lh3.googleusercontent.com/pqn5CNv0SF68HgWgZ0HNb2ru-ElMmrU24aWtP6wEtE4eAVeBBkCYmr9jCRe_hdpJWom6bzFBCawOWRGLlr_bs0LDvtUIS2Zswu1fksmq45xc8fe2j0FFv4ymHX8M28sPgk7UMQxT9Tmaj-HQx0ZLsRlC08CrJLMb7ApEIbEx0RPU9WIJfxdtuna9e9FnrGmpX9tc8-icmqUG5MeFnL5sgt5oTkbQ-o1wS6K1OXJBuwqOgDa2v6XL4eiGOZfyiTP6a_gCLJsISa60kvIelsjGapTRAJzOGeOQdVKcgqun6uj91MH_9vSGM6S4xHZH2oJjOsit4hn7TJ6cCn2zgns7CK09C-vTsIprLC6IDQNEuQT32X0IHuwpTSx21RzXUqXLGgIg-alkPIj8PhpWl8NKOeqUCQ9AaN9fBrqRieIrxVzhgwkE-rttr5uUa6uiJowT9OViW6m_8RlXCAqCl5JXrGUO37sLGgZDDkFJrgJjfLRXqcR11DREeL1-Zz5h3o42VA8LmvR92u_04QDb-SC9LVmmlLPSBnq16qZNY67dO6GKGzphO6W1p-zgd4awns7soUzwxOsu0lTh6nI5kTm_LHVXbFWyHGNbzNzIDhxa__fO4NYL2RthB2RdinUhz6P1nktZpbWJk0Aqu8bxT8XXCjRLEefl7iVUDHjpRJU9E3dceGGXtNilWTvEnC3UrCl5EqBV3E8Dutp2nNUga6Kcr7En=w960-h567-no?authuser=1');
$image-contact: url('https://lh3.googleusercontent.com/h6Q3Lu8fBNOe-twrYQEi1i9FXVDYq70fj4lRCGIX8HBpN92m1Ppr7Vin2loDDwsUTajO_q4mekVRBqW0vhJN0TL5P5grtz4DkqJCHjbbBVTJrD8whx52oUVgybHfv5biicJOnC2BY6leAmcLXeFBqD1bhcXaT7Vtxna70Op-wl5Du0ij6OolTo8l0BDOQTWfKOqe4YJZ6krC2iUrQ63SsWij9IppI3_DQrUf7HWDBo4bwds4ozSWOGObAwWAXkey0pxCT_A5OemkS-YyJ3vDHI945LvG1zSZYzFaQdAZcHA7Ngqyo3tkp3I4qrl1T-dhjrgkRUZzaRo_1sq00Oq5V98P5CDWBduVId6HGLKCly60UI2MVwOdh_oXh1HNLKBDnxa2smZ6g0UV98VBC9LEogm_pb--DYHkD6JF02O4Peek-wmRJ6b8GH3WW-p6X4ekj8pdvnPt2QsY87MD6wb3-q-kdvDDln_4_0L7kN_2mGth53W87pEP7ZIghLh054ZePy3l4wwY_VynoiqowdX3x8wM0QnoF70PPPPlocz2bTk4V2qCSf_App0KNXxMPnOsC4A20GMu2jZhtU3UlgeiA_aZ2v11t2cKivUcC7q6aF4gI5eMqUBKcFXVp3YvMAClHL6K1tDXGwunP04bsfbiPKQ2q1sG8Htq8I3uFblnsAFK83eUWTpuy3kXs5MFTxM99FLUTbldbKVqBBfT3cOK3_I9=w960-h495-no?authuser=1');

// Logo
.logo {
  width: 50px;
}

// For all pages

h1 {
  text-align: center;
  padding-bottom: 5px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 5px;
}

.bottom-line {
  height: 3px;
  width: 4rem;
  background: $main-color;
  display: block;
  margin: 0 auto 0 auto;
}

.bottom-line-small {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 0 auto;
}

// FLIP CARDS

.flip-card {
  background-color: transparent;
  width: 160px;
  height: 140px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  left: 0%;
}

.flip-card-front {
  background-color: $main-color;
  justify-content: center;
  color: $light-color;
  cursor: pointer;

  i {
    padding-top: 20%;
  }
}

.flip-card-back {
  background-color: $dark-color;
  color: white;
  transform: rotateY(180deg);
  cursor: pointer;

  h2 {
    padding-top: 33%;
  }
}

// Buttons

// Big button

.btn-tag {
  text-decoration: none;
  color: $light-color;
  text-align: center;
  margin: auto;
}
.btn-big {
  margin: auto;
  border: none;
  background: $main-color;
  color: $light-color;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-big:hover {
  background: $dark-color;
}

// Small button

.btn-box {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.btn-small {
  margin: auto;
  text-align: center;
  border: none;
  background: $main-color;
  color: $light-color;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-small-dark {
  margin: auto;
  text-align: center;
  border: none;
  background: $dark-color;
  color: $light-color;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-small:hover {
  background: $dark-color;
}

.btn-small-dark:hover {
  background: $main-color;
}

// Scroll down Docs + PPT
.img-container {
  overflow: hidden;
  .left-scroll {
    transform: translateX(-100%);
  }

  .right-scroll {
    transform: translateX(100%);
  }
}
