@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$main-color: #dc3545;
$light-color: #f8f8ff;
$dark-color: #242526;
$main-text: 'PT Sans', sans-serif;
$image-home: url('../img/showcase-home.jpg');
$image-about: url('../img/showcase-about.jpg');
$image-contact: url('../img/showcase-contact.jpg');

// Logo
.logo {
  width: 50px;
}

// For all pages

h1 {
  text-align: center;
  padding-bottom: 5px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 5px;
}

.bottom-line {
  height: 3px;
  width: 4rem;
  background: $main-color;
  display: block;
  margin: 0 auto 0 auto;
}

.bottom-line-small {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 0 auto;
}

// FLIP CARDS

.flip-card {
  background-color: transparent;
  width: 160px;
  height: 140px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  left: 0%;
}

.flip-card-front {
  background-color: $main-color;
  justify-content: center;
  color: $light-color;
  cursor: pointer;

  i {
    padding-top: 20%;
  }
}

.flip-card-back {
  background-color: $dark-color;
  color: white;
  transform: rotateY(180deg);
  cursor: pointer;

  h2 {
    padding-top: 33%;
  }
}

// Buttons

// Big button

.btn-tag {
  text-decoration: none;
  color: $light-color;
  text-align: center;
  margin: auto;
}
.btn-big {
  margin: auto;
  border: none;
  background: $main-color;
  color: $light-color;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-big:hover {
  background: $dark-color;
}

// Small button

.btn-box {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.btn-small {
  margin: auto;
  text-align: center;
  border: none;
  background: $main-color;
  color: $light-color;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-small-dark {
  margin: auto;
  text-align: center;
  border: none;
  background: $dark-color;
  color: $light-color;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-small:hover {
  background: $dark-color;
}

.btn-small-dark:hover {
  background: $main-color;
}

// Scroll down Docs + PPT
.img-container {
  overflow: hidden;
  .left-scroll {
    transform: translateX(-100%);
  }

  .right-scroll {
    transform: translateX(100%);
  }
}
