@import "utilities";
@import "media";

// VARIABLES
$website-width: 1100px;
$light-color: white;
$main-color: red;
$dark-color: #333;
$bg-image: url("../img/aurora.jpg");


// HEADER
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
  }
  // Header Inner
  // Header Inner
  &-inner {
    background: $bg-image no-repeat 20% 10% / cover;
    height: 7.5rem;
    border-bottom: 3px solid $main-color;
  }
}

#showcase {
  .container {

    padding-top: 8rem;
  }

  h3 {
    font-size: 70px;
    padding-bottom: 2rem;
  }
}

// Reviews

#reviews {
  &-content {
    .avatar {
      border-radius: 90%;
    }
  }
}

// Dictionary

// Accordion

#accordion {
  .card {
    margin: 0 auto;
    text-align:center;
    margin-bottom: 10px;
  }

  .modal-title {
    margin: auto;
  }

  .modal-footer {
    margin: auto;
  }
}

// Contact

#contact {
  &-a {
    button[type="submit"] {
      width: 50%;
      margin: auto;
    }
    .form1 {
      text-align: center;
      width: 185px;
      display: inline-block;
    }
  }
}

// Footer

#main-footer {
  padding-bottom: 28px;
  padding-top: 28px;
}

