@import "config";
@import "utilities";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: $light-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// h1

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  h1 {
    padding-top: 0.5rem;
  }

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1rem;
  }

  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.7s;

    &:hover {
      border-color: $dark-color;
    }

    &.current {
      border-color: $dark-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 15%;

      h1 {
        font-size: 4rem;
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  // Header Inner
  &-inner {
    background: $bg-image no-repeat 20% 10% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home Section
#home {
  &-a {
    .essentials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 2rem;

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }

      iframe {
        padding-top: 1rem;
      }
    }
  }
}

// Index Section
#vocabulary {
  &-a {
    text-align: center;
    padding: 1rem;
  }

  &-b {
    display: flex;
    justify-content: space-evenly;

    h3 {
      text-align: center;
    }

    ul {
      width: 300px;
      border: 1px solid;
    }

    ul li {
      display: flex;
    }
  }
}

// Learn Section
#learn {
  &-a {
    .video {
      display: flex;
      float: left;
      padding-right: 1rem;
    }

    p {
      padding-bottom: 1.5rem;
    }

    .video-info {
      padding-top: 2rem;
    }
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "level skype"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .level-input {
        grid-area: level;
      }
      .email-input {
        grid-area: email;
      }
      .skype-input {
        grid-area: skype;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 50%;
    }
  }

  &-c {
    h1 {
      text-align: center;
    }
  }
}

// Footer
#main-footer {
  text-align: center;
  background: $dark-color;
  color: $light-color;

  p {
    padding-top: 2rem;
  }

  .fab {
    color: $main-color;
  }

  .fab.fa-facebook {
    color: blue;
  }
}

// Import Media Queries
@import "media";
